# Server Port
PORT=5000

# Application Environment (development, production)
NODE_ENV=development

# MongoDB Connection String URI
MONGO_URI=

# JWT Secrets Configuration
JWT_SECRET=
JWT_EXPIRES_IN=7d

# Cloudinary Storage Configuration (Optional)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
